.btn {
  color: white;
  border: none;
  width: 90px;
  height: 30px;
  background: #0071e3;
  border-radius: 5px;
  font-family: 'Roboto';
}

.btn:hover {
  box-shadow: 0px 5px 15px rgba(0, 7, 95, 0.3);
  background-color: #63affc;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.7s;
}

.cardBtn {
  min-width: 80px;
}

.headerBtn {
  margin-right: 200px;
}

.counterBtn {
  border: none;
  background: white;
  width: 40px;
  height: 30px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 5px;
}

.counterBtn:last-child {
  margin-right: 0;
}
.counterBtn:hover {
  background: rgb(182, 211, 255);
  transition: 0.7s;
}

.count {
  margin-right: 10px;
}