@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Bold.woff') format('woff'),
    url('./Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Light.woff') format('woff'),
    url('./Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}