/* .cardInfo {
  margin-top: 20px;
}

.cardName {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.14;
  margin-bottom: 10px;
}

.buttonBox {
  display: flex;
  margin-top: 50px;
  align-items: end;
  justify-content: space-between;
} */