@import './assets/fonts/fonts.css';

#root {
  width: 100%;
}

body {
  margin: 0px;
  background-color: rgb(241, 241, 241);
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 30px;
  color: #000;
}